src/page.dtd

<!ENTITY % entities
 SYSTEM "entities.dtd">
%entities;

<!ENTITY % block
 'map | para | sect | table'>

<!ENTITY % inline
 'abbr | cite | code | link | ref | sup | text | todo
 | cat | fix | grp | sep
 | ital'>

<!ENTITY % block-content
 '(#PCDATA | %block; | %inline;)*'>

<!ENTITY % inline-content
 '(#PCDATA | %inline;)*'>

<!-- structure -->

<!ELEMENT page
 (head, body)>
<!ATTLIST page
 id ID #REQUIRED
 xml:base CDATA #IMPLIED>

 <!ELEMENT head
  (title, subtitle*)>
  <!ELEMENT title
   (#PCDATA)>
  <!ELEMENT subtitle
   (#PCDATA)>

 <!ELEMENT body
  %block-content;>

<!-- block content -->

<!ELEMENT map
 (assn*)>
 <!ELEMENT assn
  (key+, val+)>
 <!ATTLIST assn
  id ID #IMPLIED>
  <!ELEMENT key
   %inline-content;>
  <!-- ELEMENT val -->

<!ELEMENT para
 %inline-content;>

<!ELEMENT sect
 (head, body)>

<!ELEMENT table
 (fmt?, row*)>
 <!ELEMENT fmt
  (fld*)>
  <!ELEMENT fld
   (#PCDATA)>
 <!ELEMENT row
  (cell*)>
  <!ELEMENT cell
   %block-content;>

<!ELEMENT val
 %block-content;>

<!-- inline content -->

<!ELEMENT abbr
 (#PCDATA)>
<!ATTLIST abbr
 of IDREF #IMPLIED>

<!ELEMENT cite
 %inline-content;>
<!ATTLIST cite
 of CDATA #REQUIRED>

<!ELEMENT code
 %inline-content;>

<!ELEMENT link
 (#PCDATA)>
<!ATTLIST link
 to IDREF #REQUIRED>

<!ELEMENT ref
 (#PCDATA)>
<!ATTLIST ref
 to IDREF #IMPLIED>

<!ELEMENT sup
 %inline-content;>

<!ELEMENT text
 (#PCDATA)>

<!ELEMENT todo
 (#PCDATA)>

<!-- construction -->

<!ELEMENT cat
 %inline-content;>

<!ELEMENT fix
 %inline-content;>

<!ELEMENT grp
 %inline-content;>

<!ELEMENT sep
 %inline-content;>

<!-- generic styles -->

<!ELEMENT ital
 %inline-content;>
